/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #f6eee4;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto; /* Center images */
}

/* Style rules for navigation area */
nav {
    background-color: #2a1f14;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
    text-align: center; /* Center align all main content */
}

main h1, main h2, main h3 {
    text-align: center; /* Center align headings */
}

main p {
    font-size: 1.25em;
}

/* Custom toast bullets for unordered lists */
main ul {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0;
}

main ul li {
    background: url('images/toast-bullet.jpeg') no-repeat left center; /* Use toast image as bullet */
    background-size: 20px 20px; /* Adjust size of the toast image */
    padding-left: 30px; /* Space for the image to show before text */
    margin-bottom: 10px; /* Optional: Add spacing between list items */
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

#contact {
    text-align: center;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding: 1% 0;
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}
